/* automatic/manual light mode */
:root, :root.light {

    --bg-color-1: #eeeeee;
    --bg-color-2: #b3b3b3;
    --text-color-1: #282828;
    --text-color-2: #1c1c1c;
    --akzent-color-1: #133e65;

}

/* automatic dark mode */
/* ❗️ keep the rules in sync with the manual dark mode below! */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color-1: #282828;
        --bg-color-2: #1c1c1c;
        --text-color-1: #eeeeee;
        --text-color-2: #b3b3b3;
        --akzent-color-1: #0075cb;
    }
}

/* manual dark mode
/* ❗️ keep the rules in sync with the automatic dark mode above! */
:root.dark {
    --bg-color-1: #282828;
    --bg-color-2: #1c1c1c;
    --text-color-1: #eeeeee;
    --text-color-2: #b3b3b3;
    --akzent-color-1: #0075cb;
}






*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
    scrollbar-width: thin;
    transition: 0.2s;
    color-scheme: dark !important;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--text-color-1);
    background-color: var(--bg-color-1);
}
main{
    flex: 1;
    margin-top: 20vh;
    margin-bottom: 8vh;
}
